body{
    font-family: 'Schibsted Grotesk', sans-serif;
    color: #1E1E24;
    background-color: #FFFBFF;
}

/* logo and signin button styling */

.top{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 20px;
}

.top__logo{
    height:54px;
    width:auto;
}

button{
    font-family: 'Schibsted Grotesk', sans-serif;
    padding: 0.5rem 1rem;
    color: #f55050;
    font-size: 18px;
    font-weight: 600;
    background-color: #FFFBFF;
    border: 0.1rem solid #f55050;
    border-radius: 4px;
}

.top__signin{
    height: 2.2rem;
    width: 6rem;
}


/* Styling of navigation page */
.nav{
    border-top: 0.1rem solid #f55050;
    border-bottom: 0.1rem solid #f55050;
}
.nav__container{
    display: flex;
    justify-content: space-around;
    margin: 0.5rem;
}

a.nav__link{
    font-family: 'Schibsted Grotesk', sans-serif ;
    font-size: 1.4rem;
    font-weight: 600;
    text-decoration: none;
    color: #f55050;

}

li.nav__list{
    list-style: none;
}

/* styling content of the page */

.article{
    font-family: 'Schibsted Grotesk', sans-serif ;
    font-size: 1.4rem;
    font-weight: 400;
}

h1{
    font-size: 4rem;
    font-weight: 600;
    text-align: center;
    margin: 10px auto;
}

h5{
    font-size: 1.4rem;
    font-weight: 600;
    margin: 10px 0;
    text-align: left;
}

.article__share{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0 20px 0;
}

.article__shareicon{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.inner__shareicon{
    padding: 0 20px 0 0;
}

.article__blog{
    text-align: center;
    margin: 10px 30px;
}

img.article_featuredimage {
    border: 0.2rem solid #FFFBFF;
    border-radius: 0.8rem;
}

p{
    text-align: left;
}

.article__info{
    display: flex;
    justify-content: space-around;
}

h5.info{
    text-align: left;
}

li{
    text-align: left;
    list-style: decimal;
    color: #060645;
}


footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 2px solid #060645;
    margin: 20px;
    padding: 10px;
}

.footer__logo{
    height: 64px;
    width: auto;
}

.footer__nav{
    display: flex;
    justify-content: space-around;
}

.footer__list{
    display: inline-block;
    padding: 0 20px;
}

a.footer__navlink{
    text-decoration: none;
    color: #060645;
    font-size: 18px;
}
